#gameContainer{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-image: url(assets/doomGuy/background.png);
    position: relative;
    overflow: hidden;
}

#player{
     width: 80px;
    height:80px; 
    background-image: url(assets/doomGuy/face-1.png);
    background-size: 100%;
    background-position:  center;
    position: absolute;
    z-index: 2;
}

#bomb{
    width: 150px;
    height: 150px;
    background-image: url(assets/doomGuy/bomb-1.png);
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.enemies{
    width: 60px;
    height: 60px;
    background-image: url(assets/doomGuy/demon-2.png);
    position: absolute;
    background-size: cover;
    background-position: center;
}